extends layout


block content
	div
		h3.headline(style="position:absolute;top:85px;") Welcome, #{user.username}
		img.gravitar(src="#{user.imageUrl}", height="200px", width="200px" style="position:absolute;top:180px;")
		div#postDiv
			form#addPost(action="/ideaPosted", method="post", enctype="multipart/form-data", placeholder='Add your ideas here...')
				input#postinput(type="text", name="contents" placeholder="Add your ideas here...")
				div.privacy(class="onoffswitch", id='privacytog')
					input(type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="myonoffswitch" checked)
					label(class="onoffswitch-label" for="myonoffswitch")
						span(class="onoffswitch-inner")
						span(class="onoffswitch-switch")
				<div style="height:0px;overflow:hidden">
				<input type="file" id="fileInput"  name="fileInput" accept="image/*">
				</div>
				input#submit1(type="submit", value="Post")
			img.uploadTake(src="/img/uploadpicIcon.png", id="upload", width="25px")
		div#overlay
		div#showPostdiv(style="background:grey;height:45px;width:125px;position:fixed;bottom:20px;left:20px;color:white;font-size:40px;z-index:5;")
			h2 POST

		div
			table.ideaTable
				tr
					td
					td
					td
					td
				for post in posts		
					tr.posts
						td(data-postid2=post.username)
							img.favorite(src='/img/favoriteIcon.png', data-postid=post._id, data-cont=post.contents)
						td(data-postid2=post.username)
							img(src="/img/votearrow.jpg" alt="" usemap='#'+post._id)
							map(name=post._id id=post._id)
								area(alt="" title="" shape="poly" coords="3,25,22,0,38,25" class="upvote" data-postid=post._id)
								h3.rating= post.rating
								area(alt="" title="" shape="poly" coords="40,63,21,90,4,63" class="downvote" data-postid=post._id)
						td
							-if (post.contents[0].substr(post.contents[0].length-3) === 'jpg' || post.contents[0].substr(post.contents[0].length-3) === 'png' || post.contents[0].substr(post.contents[0].length-4) === 'jpeg')
								img(src=post.contents width="400px")
								h6.postdetails1= post.date
								div.delete
									h6.postdetails3 Remove
							-else
								h4= post.contents
								h6.postdetails1= post.date
								div.delete(data-postid=post._id)
									h6.postdetails3 Remove
						td
							a.delete(href="#", data-postid=post._id) Remove
		

	
	
